*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --cor-primary: #ff4d17;
    --bg-dark: #151515;
    --bg-container-dark: #202020;
    --cor-title-dark: #fff;
    --cor-text-dark: #bbb;
    --texto-normal: 1rem;
    --title-normal: 1.5rem;
    --title-medio: 2rem;
    --padding-container: 20px;
    --gap-all: 20px;
}

a{
    text-decoration: none;
    color: var(--cor-text-dark);
}

h1, h2, h3, h4, h5, h6{
    color: var(--cor-title-dark);
}

p{
    color: var(--cor-text-dark);
    margin: var(--gap-all) 0;
}

body{
    background: var(--bg-dark);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    'header'
    'main'
    'footer';
    gap: var(--gap-all);

    header, aside, footer{
        padding: var(--padding-container);
        background: var(--bg-container-dark);
    }

    header{
        grid-area: header;
        display: grid;

        section{
            width: 100%;
            max-width: calc(1440px - var(--padding-container));
            margin: 0 auto;

            .logo{
                height: 28px;
                display: grid;
                grid-template-columns: auto 1fr;
                column-gap: 10px;
                align-items: center;
                font-size: var(--title-normal);
                color: var(--cor-title-dark);
    
                img{
                    height: inherit;
                }
            }
        }
    }

    main{
        grid-area: main;
        display: grid;
        grid-template-columns: auto;
        min-height: calc((100vh - 2*var(--gap-all)) - 108px);
        justify-content: space-around;

        .container{
            display: grid;
            width: calc(100vw - 3*var(--gap-all));
            grid-template-columns: 70% 30%;
            gap: var(--gap-all);
            max-width: 1400px;
            justify-content: center;

            section{
                display: grid;
                grid-template-rows: auto 1fr;
                padding: var(--padding-container);
                background: var(--bg-container-dark);
                height: 100%;
                width: 100%;
                border-radius: 5px;
                
                &.principal{
                    padding-right: 10px;
                    iframe{

                        width: 100%;
                        height: calc((100vh - 4*var(--gap-all)) - 108px);
                    }
                }

                &.outras{
                    h1{
                        font-size: var(--title-normal);
                    }
                    nav{
                        // width: calc(100% - var(--padding-container));
                        // transform: translateX(var(--padding-container));
                        display: grid;
                        row-gap: var(--gap-all);
                        // background: var(--cor-primary);

                        li{
                            width: calc(100% - var(--padding-container));
                            transform: translateX(var(--padding-container));
                            margin: var(--padding-container) 0;
                            // background: var(--cor-primary);
                            font-size: var(--texto-normal);
                        }

                        ::marker{
                            font-size: var(--texto-normal);
                            color: var(--cor-primary);
                            font-weight: bolder;
                        }
                    }
                }
            }
        }
    }

    footer{
        grid-area: footer;
    }
}

.body-iframe{
    background: var(--bg-container-dark);
    img{
        width: 100%;
    }

    h1{
        text-align: center;
    }

    //   Scrollbar personalizada

    &::-webkit-scrollbar {
        width: 10px;
        border-radius: 40px;

        // &-track {
        //     background-color: var(--bg-dark);
        //     border-radius: 40px;
        // }

        // &-thumb {
        //     background-color: rgba(255, 255, 255, 0.25);
        //     border-radius: 40px;
        // }
    }

    &:hover {

        &::-webkit-scrollbar-thumb {
            background-color: var(--cor-primary);
            border-radius: 40px;
        }
    }

    //   Fim da Scrollbar personalizada
}