* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--cor-primary);
  border-radius: 20px;
}
*:hover::-webkit-scrollbar-thumb {
  background-color: var(--bg-dark4);
}

:root {
  --cor-primary: #ff4d17;
  --bg-dark1: #101010;
  --bg-dark2: #151515;
  --bg-dark3: #202020;
  --bg-dark4: #252525;
  --cor-title-dark: #fff;
  --cor-text-dark: #bbb;
  --texto-normal: 1rem;
  --title-normal: 1.5rem;
  --title-medio: 2rem;
  --padding-container: 20px;
  --gap-all: 20px;
  --radius1: 20px;
}

a {
  text-decoration: none;
  color: var(--cor-text-dark);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--cor-title-dark);
}

p {
  color: var(--cor-text-dark);
  margin: var(--gap-all) 0;
}

body {
  background: var(--bg-dark1);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "main" "footer";
}
body header, body aside, body footer {
  padding: var(--padding-container);
  background: var(--bg-dark2);
}
body header {
  grid-area: header;
  padding: var(--padding-container) calc(var(--padding-container) / 1.25);
}
body header section {
  max-width: calc(1440px - var(--padding-container));
  display: flex;
  gap: var(--gap-all);
}
body main {
  grid-area: main;
  display: grid;
  grid-template-columns: auto;
  min-height: calc(100vh - 2 * var(--gap-all) - 108px);
  justify-content: space-around;
}
body main .container {
  display: grid;
  width: calc(100vw - 3 * var(--gap-all));
  grid-template-columns: 70% 30%;
  gap: var(--gap-all);
  max-width: 1400px;
  justify-content: center;
}
body main .container section {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: var(--padding-container);
  background: var(--bg-dark2);
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
body main .container section.principal {
  padding-right: 10px;
}
body main .container section.principal iframe {
  width: 100%;
  height: calc(100vh - 4 * var(--gap-all) - 108px);
}
body main .container section.outras h1 {
  font-size: var(--title-normal);
}
body main .container section.outras nav {
  display: grid;
  row-gap: var(--gap-all);
}
body main .container section.outras nav li {
  width: calc(100% - var(--padding-container));
  transform: translateX(var(--padding-container));
  margin: var(--padding-container) 0;
  font-size: var(--texto-normal);
}
body main .container section.outras nav ::marker {
  font-size: var(--title-normal);
  color: var(--cor-primary);
  font-weight: bolder;
}
body footer {
  grid-area: footer;
}

.body-iframe {
  background: var(--bg-dark2);
}
.body-iframe img {
  width: 100%;
}
.body-iframe .video {
  width: 100%;
  padding-top: 56.25%;
  position: relative;
  border-radius: 5px;
}
.body-iframe .video iframe {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  border-radius: inherit;
}
.body-iframe h1 {
  text-align: center;
}
.body-iframe ul {
  color: var(--cor-text-dark);
}
.body-iframe ul li {
  margin: var(--padding-container) 0;
}

body.one {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body.one div {
  height: 20vh;
  display: flex;
  gap: calc(2 * var(--gap-all));
  background: var(--bg-dark3);
  padding: calc(2 * var(--padding-container));
  border-radius: 20px;
  position: relative;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
:root {
  --card-height: 20vh;
  --card-width: calc(var(--card-height) * 1);
}

body.two {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: calc(4 * var(--gap-all));
       column-gap: calc(4 * var(--gap-all));
  padding: var(--padding-container);
}

@media screen and (max-width: 640px) {
  body.two {
    flex-direction: column;
    justify-content: space-evenly;
    -moz-column-gap: 0;
         column-gap: 0;
  }
}
.icones-svg {
  background: rgba(255, 255, 255, 0.1);
  background: rgba(21, 21, 21, 0.7882352941);
  width: var(--card-width);
  height: var(--card-height);
  padding: calc(1 * var(--padding-container));
  position: relative;
  border-radius: var(--radius1);
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.icones-svg svg {
  display: block;
  max-width: 70% !important;
}
.icones-svg:hover {
  color: rgb(88, 199, 250);
}
.icones-svg:hover:before, .icones-svg:hover:after {
  opacity: 1;
}
.icones-svg::before {
  content: "";
  width: 101.2%;
  height: 101.2%;
  border-radius: var(--radius1);
  background-image: linear-gradient(var(--rotate), #5ddcff, rgba(93, 220, 255, 0.2705882353) 43%, rgba(18, 14, 23, 0));
  position: absolute;
  z-index: -1;
  top: -0.6%;
  left: -0.6%;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}
.icones-svg::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.9);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(var(--rotate), #5ddcff, rgba(93, 220, 255, 0.5607843137) 43%, rgba(78, 0, 194, 0));
  opacity: 1;
  transition: opacity 1s;
  -webkit-animation: spin 3s linear infinite;
          animation: spin 3s linear infinite;
}
.icones-svg::before, .icones-svg::after {
  opacity: 0;
}

@-webkit-keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}/*# sourceMappingURL=estilo.css.map */