*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

    //   Scrollbar personalizada

    &::-webkit-scrollbar {
        
        width: 10px;

        // &-track {
        // }

        &-thumb {
            background-color: var(--cor-primary);
            border-radius: 20px;
        }

    }

    &:hover {

        &::-webkit-scrollbar-thumb {
            background-color: var(--bg-dark4);
        }
    }

    //   Fim da Scrollbar personalizada

}

:root{
    --cor-primary: #ff4d17;
    --bg-dark1: #101010;
    --bg-dark2: #151515;
    --bg-dark3: #202020;
    --bg-dark4: #252525;
    --cor-title-dark: #fff;
    --cor-text-dark: #bbb;
    --texto-normal: 1rem;
    --title-normal: 1.5rem;
    --title-medio: 2rem;
    --padding-container: 20px;
    --gap-all: 20px;
}

a{
    text-decoration: none;
    color: var(--cor-text-dark);
}

h1, h2, h3, h4, h5, h6{
    color: var(--cor-title-dark);
}

p{
    color: var(--cor-text-dark);
    margin: var(--gap-all) 0;
}

body{
    background: var(--bg-dark1);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    'header'
    'main'
    'footer';
    // gap: var(--gap-all);

    header, aside, footer{
        padding: var(--padding-container);
        background: var(--bg-dark2);
    }

    header{
        grid-area: header;
        padding:var(--padding-container) calc(var(--padding-container)/1.25);

        section{
            max-width: calc(1440px - var(--padding-container));
            display: flex;
            gap: var(--gap-all);

            // .logo{

            //     &-html{
            //         color: #ff4d17;
            //     }

            //     &-css{
            //         color:#0091d5;
            //     }

            //     &-js{
            //         color: #efd81d;
            //     }

            //     a{
            //         display: inline-flex;
            //         align-items: center;
            //         gap: 10px;
            //         font-size: var(--title-normal);
            //         font-weight: bolder;
            //         text-transform: uppercase;
            //     }

            //     .icon{
            //         font-size: calc(var(--title-normal) * 1.4);
            //         display: flex;
            //     }

            // }

            // .logo-html, .logo-css, .logo-js{
            //     float: left;

            //     a{
            //         font-weight: bolder;
            //         height: 28px;
            //         // display: grid;
            //         // grid-template-columns: auto auto auto;
            //         column-gap: 10px;
            //         display: flex;
            //         align-items: center;
            //         font-size: var(--title-normal);
            //         color: var(--cor-title-dark);
        
            //         img{
            //             height: inherit;
            //         }
            //     }
            // }
        }
    }

    // .header{
    //     &-html{

    //         .logo-css, .logo-js{
    //             float: right;
    
    //             span{
    //                 display: none;
    //             }
    //         }
    
    //         .logo-css{
    //             margin-right: var(--gap-all);
    //         }
    //     }

    //     &-css{
    //         .logo-html, .logo-js{
    //             float: right;
    
    //             span{
    //                 display: none;
    //             }
    //         }
    
    //         .logo-js{
    //             margin-right: var(--gap-all);
    //         }
    //     }

    //     &-js{
    //         .logo-html, .logo-css{
    //             float: right;
    
    //             span{
    //                 display: none;
    //             }
    //         }
    
    //         .logo-html{
    //             margin-right: var(--gap-all);
    //         }
    //     }
    // }

    main{
        grid-area: main;
        display: grid;
        grid-template-columns: auto;
        min-height: calc((100vh - 2*var(--gap-all)) - 108px);
        justify-content: space-around;

        .container{
            display: grid;
            width: calc(100vw - 3*var(--gap-all));
            grid-template-columns: 70% 30%;
            gap: var(--gap-all);
            max-width: 1400px;
            justify-content: center;

            section{
                display: grid;
                grid-template-rows: auto 1fr;
                padding: var(--padding-container);
                background: var(--bg-dark2);
                height: 100%;
                width: 100%;
                border-radius: 5px;
                
                &.principal{
                    padding-right: 10px;
                    iframe{

                        width: 100%;
                        height: calc((100vh - 4*var(--gap-all)) - 108px);
                    }
                }

                &.outras{
                    h1{
                        font-size: var(--title-normal);
                    }
                    nav{
                        // width: calc(100% - var(--padding-container));
                        // transform: translateX(var(--padding-container));
                        display: grid;
                        row-gap: var(--gap-all);
                        // background: var(--cor-primary);

                        li{
                            width: calc(100% - var(--padding-container));
                            transform: translateX(var(--padding-container));
                            margin: var(--padding-container) 0;
                            // background: var(--cor-primary);
                            font-size: var(--texto-normal);
                        }

                        ::marker{
                            font-size: var(--title-normal);
                            color: var(--cor-primary);
                            font-weight: bolder;
                        }
                    }
                }
            }
        }
    }

    footer{
        grid-area: footer;
    }
}

.body-iframe{
    background: var(--bg-dark2);
    img{
        width: 100%;
    }

    .video{
        width: 100%;
        padding-top: 56.25%;
        position: relative;
        border-radius: 5px;
        iframe{
            width: 100% !important;
            height: 100% !important;
            position: absolute;
            top: 0;
            border-radius: inherit;
        }
    }

    h1{
        text-align: center;
    }

    ul{
        color: var(--cor-text-dark);
        li{
            margin: var(--padding-container) 0;
        }
    }
}

body.normal{
    // *{
    //     border: 1px solid red;
    // }
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    div{
        height: 20vh;
        display: flex;
        gap: calc(2*var(--gap-all));
        background: var(--bg-dark3);
        padding: calc(2*var(--padding-container));
        border-radius: 20px;
    }
}